<% content_for :page_title do -%>
  <%= page_title(posts_title_parts(@tag)) %>
<% end -%>

<% content_for :page_heading do -%>
  <%= page_heading(posts_title_parts(@tag)) %>
<% end -%>

<% content_for :head do -%>
  <%= auto_discovery_link_tag(:atom, @tag.nil? ? blog_formatted_posts_path(:format => 'atom') : blog_posts_path(:tag => @tag, :format => 'atom')) %>
<% end -%>

<% if @posts.empty? -%>
	<p>There are no posts yet.</p>
<% else -%>
	<% @posts.each do |post| -%>
	<div class="post" id="<%= dom_id(post) %>">
    <%= render :partial => 'blog/posts/post', :object => post, :locals => {:post => post = truncate_body_html(post)} %>
	</div>
	<% end -%>
  <% if more_content? -%>
    <div class="panel">Looking for more? Head on over to the <%= link_to 'archives', blog_archives_path %>.</div>
  <% end -%>
<% end -%>
